.App-header {
  height: 200px;
  padding: 5px;
  background: url("http://pngimg.com/uploads/star_wars_logo/star_wars_logo_PNG38.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
}

.App-header ul {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  top: 150px;
  position: relative;
}

.App-header li {
  display: inline-block;
  padding: 35px 15px;
}

.App-content {
  padding-top: 15px;
  text-align: center;
}

#home {
  height: 150px;
  width: 100%;
  top: 40px;
  position: fixed;
}

.Content-cards {
  list-style: none;
  display: inline-flex;
  border: 1px solid grey;
  width: 33%;
  min-width: 300px;
  height: 200px;
  margin: 10px;
}